<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(NewsPanel)}"/>

        <h1>Новости</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Дата</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="news : ${news}">
                <td th:text="${news.id}"/>
                <td th:text="${news.title}"/>
                <td th:text="${news.createdAt}"/>
                <td>
                    <a class="btn btn-primary" th:href="@{'/news/send?id=' + ${news.id}}">Send</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>